/* Assegura que el body estigui centrat i s'ajusti al viewport */
body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Contenidor per centrar la calculadora */
.calculator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px; /* Amplada fixa per a ordinadors */
    max-width: 100%;
}

/* Ajustos de la pantalla */
.display {
    padding: 14px;
    font-size: 16px;
    width: 100%; /* Ocupa el 100% de l'ample disponible */
    text-align: right;
}

/* Botons generals */
.button {
    border: none;
    padding: 14px;
    font-size: 16px;
    margin: 4px 2px;
    width: 50px;
    background-color: dimgray;
}

/* Botons especials */
#divisio, #multiplicacio, #resta, #suma, #ac {
    background-color: orange;
}

#igual {
    background-color: forestgreen;
    width: 100%; /* Amplada completa per ajustar-se a la pantalla */
    text-align: center;
}

/* Dispositiu mòbil - Samsung Galaxy S20 Ultra (vertical) */
@media screen and (max-width: 412px) and (orientation: portrait) {
    .calculator-container {
        width: 95%; /* Ajusta amplada per ocupar gairebé tota la pantalla */
    }

    .button {
        width: 22%; /* Ample de botó ajustat per a més espai */
        padding: 12px;
        font-size: 14px;
    }

    .display {
        font-size: 16px;
        padding: 12px;
    }

    #igual {
        width: 100%; /* Amplada completa per ajustar-se a la pantalla */
        padding: 12px;
        font-size: 16px;
    }
}

/* Dispositiu mòbil - Samsung Galaxy S20 Ultra (horitzontal) */
@media screen and (max-width: 915px) and (orientation: landscape) {
    .calculator-container {
        width: 85%; /* Ajusta amplada per ocupar gairebé tota la pantalla en horitzontal */
    }

    .button {
        width: 18%; /* Ample de botó ajustat per més espai */
        padding: 10px;
        font-size: 14px;
    }

    .display {
        font-size: 14px;
        padding: 10px;
    }

    #igual {
        width: 100%; /* Amplada completa per ajustar-se a la pantalla */
        padding: 10px;
        font-size: 14px;
    }
}
