.button {
    border: none;
    padding: 14px 14px;
    font-size: 16px;
    margin: 4px 2px;
    width: 50px;
  }

.display {
    padding: 14px  14px;
    font-size: 16px;
    width: 215px ;

}
#zero {
   
    width: 100px;
}
#divisio, #multiplicacio, #restar, #sumar {

	background-color: orange;

}
#igual {

	background-color: green;

}

#del {

	background-color: blue;

}

#clear {

	background-color: red;

}
/* 
Fer la calculadora responsive per a mobils i tablets. centrar la calculadora per ocupar la pantalla sencera.
*/




    @media (max-width: 768px) {
        .button {
            width: 25%;
        }
        }

        @media (max-width: 768px) {
            #zero {
                width: 50%;
            }
            }

            @media (max-width: 768px) {
                #del {
                    width: 50%;
                }
                }

                @media (max-width: 768px) {
                    #clear {
                        width: 50%;
                    }
                    }

                    @media (max-width: 768px) {
                        #igual {
                            width: 50%;
                        }
                        }

                        @media (max-width: 768px) {
                            #divisio, #multiplicacio, #restar, #sumar {
                                width: 50%;
                            }
                            }










