.button {
    border: none;
    padding: 14px 14px;
    font-size: 16px;
    margin: 4px 2px;
    width: 50px;
    background-color: dimgray;
}

.display {
    padding: 14px 14px;
    font-size: 16px;
    width: 270px;
    text-align: right;
}

#divisio, #multiplicacio, #resta, #suma, #ac {
    background-color: orange;
}

#igual {
    background-color: forestgreen;
    width: 300px;
    text-align: center;
}


/* calculadora responsive i es visualitzara de forma correcta en :
ordinador,
tablet i mòbil. */

/* Ipad IPadOS 14.7.1 : orientació landscape (1080x810) 
Ipad IPadOS 14.7.1 : orientació portrait (810x1080)
Samsung Galaxy S20 Ultra Android 11 : landscape ( 412x 915)


Samsung Galaxy S20 Ultra Android 11 : portrait ( 412x 915) */ 

 @media only screen and (max-width: 1080px) {
    .button {
        padding: 10px 10px;
        font-size: 12px;
        margin: 2px 1px;
        width: 30px;
    }

    .display {
        padding: 10px 10px;
        font-size: 12px;
        width: 150px;
    }

    #igual {
        width: 150px;
    }
}
