.button {
    border: none;
    padding: 14px 14px;
    font-size: 16px;
    margin: 4px 2px;
    width: 50px;
  }

.display {
    padding: 14px  14px;
    font-size: 16px;
    width: 215px ;

}
#zero {
   
    width: 100px;
}
#divisio, #multiplicacio, #restar, #sumar {

	background-color: orange;

}
#igual {

	background-color: green;

}

#del {

	background-color: blue;

}

#clear {

	background-color: red;

}
/* 
Fer la calculadora responsive per a mobils. 
*/
@media screen and (max-width: 600px) {
    .display {
        width: 60%;
        height: 20px;
        text-align: right;
    }
    body {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   
    .button, #zero, #divisio, #multiplicacio, #restar, #sumar, #igual, #del, #clear {
        width: 90%;
        height: 50px;
    }
}
/* Calculadora responsive per a mòbils orientacio landscape */
@media screen and (min-width: 320px) and (max-width: 600px) {
    .display {
        width: 90%;
        height: 20px;
        text-align: right;
    }
    .button, #zero, #divisio, #multiplicacio, #restar, #sumar, #igual, #del, #clear {
        width: 90%;
        height: 50px;
    }
}

/* 
Fer la calculadora responsive per a tablets. Ipad
*/
@media screen and (min-width: 601px) and (max-width: 1024px) {

    body {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .display {
        width: 40%;
        height: 20px;
        text-align: right;
    }
    .button, #zero, #divisio, #multiplicacio, #restar, #sumar, #igual, #del, #clear {
        width: 100%;
        height: 50px;
    }

}

/* Fer la calculadora responsive per a tauletes en orientacio horitzontal de 1080 */
@media screen and (min-width: 1025px) and (max-width: 1080px) {
    body {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .display {
        width: 40%;
        height: 20px;
        text-align: right;
    }
    .button, #zero, #divisio, #multiplicacio, #restar, #sumar, #igual, #del, #clear {
        width: 100%;
        height: 50px;
    }
}