.button {
    border: none;
    padding: 14px 14px;
    font-size: 16px;
    margin: 4px 2px;
    width: 50px;
  }

.display {
    padding: 14px  14px;
    font-size: 16px;
    width: 215px ;

}
#zero {
   
    width: 100px;
}
#divisio, #multiplicacio, #restar, #sumar {

	background-color: orange;

}
#igual {

	background-color: green;

}

#del {

	background-color: blue;

}

#clear {

	background-color: red;

}
/* 
Fer la calculadora responsive per a mobils i tablets. 
centrar els elements i fer que ocupin tot l'ample de la pantalla.
*/

 @media (max-width: 768px) {
    body {
        background-color: #f2f2f2;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .button {
        width: 100%;
    }
    .display {
        width: 100%;
    }
}








